<section class="page-section" id="catalogs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row justify-content-center contact-element">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-0">{{'PROFILE_CATALOGS' | translate}}</h1>
                    <hr class="divider my-4" />
                </div>

                <div class="row catalog-category">
                    <h2 class="mt-0 col-md-12">{{'PROFILE_WORK_CLOTHES' | translate}}</h2>
                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/cutterbuck-ss23-sweden-with-price/0876361001671099690'"
                        [name]="'Cutter & Buck Katalog SS23'" 
                        [imgName]="'CutterBuck_SS23'"></app-catalog-entry>

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/clique-2023-3/0866099001673358698?short&'"
                        [name]="'Clique Katalog SS23'" 
                        [imgName]="'Clique_SS23'"></app-catalog-entry>   

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/cottover-2023-sv-lr/0735274001671718386?short&'"
                        [name]="'Cottover Katalog 2023'" 
                        [imgName]="'Cottover_23'"></app-catalog-entry> 
                    
                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/craft-corporate-catalogue-ss23-se/0147826001670422126?short&'"
                        [name]="'Craft Corporate Katalog SS23'" 
                        [imgName]="'Craft_Corporate_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'http://www.e-magin.se/latestpaper/hd0jbps0/paper#/paper/mr8k0383/1'"
                        [name]="'Snickers Katalog 2023'" 
                        [imgName]="'Snickers_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://view.taiqa.com/blaklader/catalogue2023se-price%20#/page=1'"
                        [name]="'Blåkläder Katalog 2023'" 
                        [imgName]="'Blaklader_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/2023-projob-workwear-sv/0485424001673957223?short&'"
                        [name]="'Projob Katalog 2023'" 
                        [imgName]="'Projob_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/tu2023-final-withprice/0997555001671054780?short&'"
                        [name]="'Texet Katalog 2023'" 
                        [imgName]="'Texet_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/craft-club-catalogue-2023-se/0531369001671173244?short&'"
                        [name]="'Craft Teamwear Katalog 2023'" 
                        [imgName]="'Craft_Teamwear_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/james-harvest-sportswerar-2023-se/0808357001672656767?short&'"
                        [name]="'Harvest Sportswear Katalog 2023'" 
                        [imgName]="'Harvest_Sportswear_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/texstar/docs/texstar_catalog_2023_lr?fr=sNmMxZDE1OTYyMg'"
                        [name]="'Texstar Katalog 2023'" 
                        [imgName]="'Texstar_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/tgh-wb-2023-lr/0965352001671715346?short&'"
                        [name]="'tg-h Katalog 2023'" 
                        [imgName]="'tg-h_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://waw.se/wp-content/uploads/2021/05/WAW-Katalog-2021-Web.pdf'"
                        [name]="'WAW Katalog 2021'" 
                        [imgName]="'WAW_2021'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/printer-2023-se/0061694001672662537?short&'"
                        [name]="'Printer Activewear Katalog 2023'" 
                        [imgName]="'Printer_Activewear_23'"></app-catalog-entry> 

                </div>
                <div class="row catalog-category">
                    <h2 class="mt-0 col-md-12">{{'PROFILE_PRODUCTS' | translate}}</h2>
                   
                    <app-catalog-entry class="col-md-3"
                        [url]="'https://ppstorage.s3.eu-west-1.amazonaws.com/catalogs/Plastprint_Katalog_2023_V%C3%85R_SVE.pdf'"
                        [name]="'Plastprint Katalog Vår 2023'" 
                        [imgName]="'Plastprint_Var23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/specialdesign-nwm-kreativkollektion-ss-2023/0486345001672661025/p16?short&'"
                        [name]="'New Wave Special Design katalog SS23'" 
                        [imgName]="'NewWave_Special_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://www.flipsnack.com/9FA75F58B7A/house_of_inspiration_2023_en/full-view.html'"
                        [name]="'PF House Of Inspiration Katalog 2023'" 
                        [imgName]="'PF_HouseofInspiration_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://ptsask.se/katalog/katalog/'"
                        [name]="'PTS Askeroth Katalog 2023'" 
                        [imgName]="'PTS_Askeroth_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/nptryk/docs/sortberghansen_carlobolaget'"
                        [name]="'Carlobolaget Katalog 2022'" 
                        [imgName]="'Carlobolaget_2022'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/toppoint/docs/thecollection2023_se_withoutprices?fr=sNzNkNTQ1MDg5NDY'"
                        [name]="'Toppoint Katalog 2023'" 
                        [imgName]="'Toppoint_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.xdcollection.com/main-2023/en/nop/?page=26'"
                        [name]="'Xindao Katalog 2023'" 
                        [imgName]="'Xindao_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://online.pubhtml5.com/rpfk/nvge/#p=1'"
                        [name]="'Only Promotion Care AW22'" 
                        [imgName]="'OnlyDesign_OnlyPromotion_Care_AW2022'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://online.pubhtml5.com/rpfk/mcla/#p=1'"
                        [name]="'Only Design Katalog SS23'" 
                        [imgName]="'OnlyDesign_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://your-catalogue.eu/onlydesign-gogreen/'"
                        [name]="'Only Design Go Green Katalog AW22'" 
                        [imgName]="'OnlyDesign_GoGreen_AW2022'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://your-catalogue.eu/onlydesign/'"
                        [name]="'Only Promotion Katalog 2023'" 
                        [imgName]="'onl_promo'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://special.cms.se/94045658/promoteyourself-2023-sv/promotion/'"
                        [name]="'Stilo Promotion Katalog 2023'" 
                        [imgName]="'Stilo_Promotion_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'http://media2.carlobolaget.com/2023/02/Produktmagasin-2023-Inlaga-WEBB.pdf'"
                        [name]="'Carlobolaget Katalog 2023'" 
                        [imgName]="'Carlobolaget_2023'"></app-catalog-entry> 

                </div>

                <div class="row catalog-category">
                    <h2 class="mt-0 col-md-12">{{'GIFT_ADVERTISING' | translate}}</h2>
                    
                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/tings2/docs/tings_katalog_va_ren_2023_lr?fr=sZWI2MzU3MTU3MTM'"
                        [name]="'TINGS Sommarkatalog 2023'" 
                        [imgName]="'TINGS_Sommar23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/vingaofsweden/docs/vinga_ss23_se-pages?fr=sYTUxNDU0OTAxNjg'"
                        [name]="'Vinga Katalog SS23'" 
                        [imgName]="'Vinga_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/the-perfect-gift-se-ss2023/0411953001671463317'"
                        [name]="'Sagaform Katalog SS23'" 
                        [imgName]="'Sagaform_Theperfectgift_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://joom.ag/Bu5d'"
                        [name]="'Orrefors Katalog SS23'" 
                        [imgName]="'Orrefors_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/dj-promotion-ss23-dj-promotion-ss23/0128166001671202380?short&'"
                        [name]="'D&J Katalog SS23 '" 
                        [imgName]="'DJ_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://joom.ag/st5d'"
                        [name]="'Kostaboda Katalog SS23'" 
                        [imgName]="'Kostaboda_SS23'"></app-catalog-entry> 

                        <app-catalog-entry class="col-md-3"
                        [url]="'https://adelanteab.se/wp-content/uploads/2023/01/Adelante-SS23-Catalog_B2B_low.pdf'"
                        [name]="'Adelante Katalog SS23'" 
                        [imgName]="'Adelante_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/dj-branded-in-sweden-ss23-brandedinsweden-ss23-jomagdj/0089307001673270428?short&'"
                        [name]="'&J Branded in Sweden Katalog SS23'" 
                        [imgName]="'DJ_BrandedinSweden_SS23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://special.cms.se/94045658/promoteyourself-2023-sv/gifts/'"
                        [name]="'Stilo Gifts Katalog 2023'" 
                        [imgName]="'Stilo_Gifts_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://viewer.joomag.com/byon-komplett-sortiment-profil-ss2023-byon-ss23-profil-uppslag-low/0351312001673248938'"
                        [name]="'Byon Katalog SS23'" 
                        [imgName]="'Byon_SS23'"></app-catalog-entry>
                </div>

                <div class="row catalog-category">
                    <h2 class="mt-0 col-md-12">{{'GIFT_CARDS' | translate}}</h2>
                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/vingaofsweden/docs/vinga_giftcard_infofolder_aw22?fr=sMmM0YzQ5OTM2MjA'"
                        [name]="'Vinga Gåvokort AW22'" 
                        [imgName]="'Vinga_Gavokort_AW22'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/vingaofsweden/docs/vinga_gavokampanjer_aw22-se?fr=sNThjMDQ5OTM2MjA'"
                        [name]="'Vinga Gåvokampanjer AW22'" 
                        [imgName]="'Vinga_Gavokampanjer_AW22'"></app-catalog-entry> 
                </div>

                <div class="row catalog-category">
                    <h2 class="mt-0 col-md-12">{{'PROFILE_CANDY' | translate}}</h2>
                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/karamello/docs/den_goda_reklamen_karamello_2022_issuu?fr=sODVkNTUyODc3OTQ'"
                        [name]="'Karamello Våren 2023'" 
                        [imgName]="'Karamello_Varen23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/karamello/docs/karamello_allahj_rtansdag_issuu?fr=sZjg2ZjU2NTA5OTE'"
                        [name]="'Karamello Alla hjärtans dag 2023'" 
                        [imgName]="'Karamello_Allahjartansdag_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://issuu.com/karamello/docs/karamello_p_sk_issuu?fr=sMzViZDU3Mjg2MjE'"
                        [name]="'Karamello Påsk 2023'" 
                        [imgName]="'Karamello_Pasken23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://tipe.se/images/TIPE_Profilgodiskatalog_2023_.pdf'"
                        [name]="'Tipe Katalog 2023'" 
                        [imgName]="'Tipe_23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://tipe.se/images/TIPE_Alla_hjartans_dag_2023.pdf'"
                        [name]="'Tipe Alla hjärtans dag 2023'" 
                        [imgName]="'Tipe_Allahjartansdag23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://tipe.se/images/TIPE_Pskkatalog_2023.pdf'"
                        [name]="'Tipe Påskgodis 2023'" 
                        [imgName]="'Tipe_Paskgodis23'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://online.pubhtml5.com/rpfk/wfwu/#p=1'"
                        [name]="'Only Promotion Sweets AW22'" 
                        [imgName]="'OnlyDesign_OnlyPromotion_Sweets_AW2022'"></app-catalog-entry> 

                    <app-catalog-entry class="col-md-3"
                        [url]="'https://online.pubhtml5.com/rpfk/etrs/#p=1'"
                        [name]="'OnlyDesign Påsk Katalog'" 
                        [imgName]="'OnlyDesign_Pask'"></app-catalog-entry> 
                </div>
            </div>
        </div>
    </div>
</section>