<section class="page-section" id="catalogs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row justify-content-center contact-element">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-0">{{'PROFILE_CATALOGS' | translate}}</h1>
                    <hr class="divider my-4" />
                </div>

                <div class="row catalog-category">
                    <h2 class="mt-0 col-md-12">{{'PROFILE_WORK_CLOTHES' | translate}}</h2>

                    <app-catalog-entry class="col-md-3" [url]="'tests'" [name]="'test'"></app-catalog-entry>
                    <app-catalog-entry class="col-md-3" [url]="'tests'" [name]="'test'"></app-catalog-entry>
                    <app-catalog-entry class="col-md-3" [url]="'tests'" [name]="'test'"></app-catalog-entry>

                </div>
                <div class="row catalog-category">
                    <h2 class="mt-0 col-md-12">{{'PROFILE_PRODUCTS' | translate}}</h2>

                    <app-catalog-entry class="col-md-3" [url]="'tests'" [name]="'test'"></app-catalog-entry>
                    <app-catalog-entry class="col-md-3" [url]="'tests'" [name]="'test'"></app-catalog-entry>
                    <app-catalog-entry class="col-md-3" [url]="'tests'" [name]="'test'"></app-catalog-entry>
                </div>
            </div>
        </div>
    </div>
</section>