.logo {
    width: 80%;
}

.logo-small {
    width: 50%;
}

.customer-logo {
    margin-top: 2em;
    vertical-align: middle;     
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 176px;
}

.text-backdrop {
    background: rgba(145, 165, 149, 0.637);
    padding: 2em;
    border-radius: 0 em;
  }
